@page "/activities"
@inherits AppComponentBase

<PageTitle>Activities</PageTitle>

<h1>Activities</h1>

@if (_response is null)
{
	<p><em>Loading...</em></p>
}
else
{
	<p><a href="activities/add">Add Activity</a></p>

	<table class="table">
		<thead>
		<tr>
			<th>UserId</th>
			<th>ActivityId</th>
			<th>Name</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var activity in _response.Activities)
		{
			<tr>
				<td>@activity.UserId</td>
				<td>@activity.ActivityId</td>
				<td>@activity.Name</td>
			</tr>
		}
		</tbody>
	</table>
}