@page "/activities/add"
@inherits AppComponentBase

<Page Title="Add Activity">
	<EditForm Model="_addActivityRequest" OnValidSubmit="OnValidSubmit">
		
		<DataAnnotationsValidator />

		<div class="mb-3">
			<label for="name" class="form-label">Name</label>
			<InputText id="name" class="form-control" @bind-Value="_addActivityRequest.Name" />
			<ValidationMessage For="() => _addActivityRequest.Name" />
		</div>

		<button type="submit" class="btn btn-primary">Add Activity</button>

	</EditForm>
</Page>
