@page "/activities/add"
@inherits AppComponentBase

<Page Title="Add Activity">
	<EditForm Model="_addActivityRequest" OnValidSubmit="OnValidSubmit">
		
		<DataAnnotationsValidator />

		<InputGroupText Label="Name" @bind-Value="@_addActivityRequest.Name" For="() => _addActivityRequest.Name" />

		<button type="submit" class="btn btn-primary">Add Activity</button>

	</EditForm>
</Page>
