@page "/activities/{ActivityId}/delete"
@inherits AppComponentBase

<PageTitle>Delete Activity</PageTitle>

<h1>Delete Activity</h1>

<p>Are you sure?</p>

<button type="button" @onclick="DeleteSubmit" class="btn btn-primary">Delete Activity</button>
