@page "/routines/{RoutineId}/delete"
@inherits AppComponentBase

<PageTitle>Delete Routine</PageTitle>

<h1>Delete Routine</h1>

<p>Are you sure?</p>

<button type="button" @onclick="DeleteSubmit" class="btn btn-primary">Delete Routine</button>