@page "/routines/{RoutineId}/delete"
@inherits AppComponentBase

<Header Title="Delete Routine"></Header>

<Page>
	<div class="alert" role="alert">
		<i class="fa-solid fa-triangle-exclamation fa-2xl me-2"></i> Are you sure you want to permanently delete this routine?
	</div>

	<button type="button" @onclick="DeleteSubmit" class="btn btn-danger">Delete Routine</button>
</Page>
