@page "/fetchdata"
@using BananaTracks.Shared
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

@if (_response is not null)
{
	<p>@_response.Name</p>
}

@code {

	private GetTestResponse? _response;
	
	protected override async Task OnInitializedAsync()
	{
		_response = await Http.GetFromJsonAsync<GetTestResponse>("GetTest");
	}
}
