@page "/"
@inherits AppComponentBase

<PageTitle>BananaTracks</PageTitle>

<h1>Hi!</h1>

<p>&nbsp;</p>

<p class="text-center">
	<a href="https://github.com/mehalick/banana-tracks"><i class="fa-brands fa-github fa-lg me-2"></i>@_version</a>
</p>