@page "/"
@inherits AppComponentBase

<PageTitle>BananaTracks</PageTitle>

<AuthorizeView>
	<Authorized>
		<h1>Hi!</h1>
		<p>If you're new here, get started by <a href="/activities/add">adding some activities</a> and then <a href="/routines/create">create a routine</a>.</p>
		<h2>What's New</h2>
		<ul>
			<li>2022-12 - Added support for saving sessions</li>
			<li>2022-12 - Added profile page</li>
		</ul>
		<h2>Coming Soon</h2>
		<ul>
			<li>Add support for deleting profile and data</li>
			<li>Add calendar view of saved sessions</li>
			<li>Add support to edit activities and routines and re-order activities within a routine</li>
			<li>Add support for pausing and stopping running routines</li>
			<li>Upgrade .NET to 7 and add AOT Lambda compilation</li>
		</ul>
	</Authorized>
	<NotAuthorized>
		<div class="d-grid d-sm-block text-center mb-3">
			<a href="authentication/login" class="btn btn-primary">Log In or Sign Up</a>
		</div>
	</NotAuthorized>
</AuthorizeView>

<div class="text-center mt-5">
	<a href="https://github.com/mehalick/banana-tracks"><i class="fa-brands fa-github fa-lg me-1"></i>@_version</a>
</div>