@page "/"
@inherits AppComponentBase

<PageTitle>BananaTracks</PageTitle>

<AuthorizeView>
	<NotAuthorized>
		<div class="d-grid d-sm-block text-center mb-3">
			<a href="authentication/login" class="btn btn-primary">Log In or Sign Up</a>
		</div>
	</NotAuthorized>
	<Authorized>

		<h1>Hi!</h1>
		<p>If you're new here, get started by <a href="/activities/add">adding some activities</a> and then <a href="/routines/create">create a routine</a>.</p>

		<h2>What's New</h2>
		<ul>
			<li>2022-12 - Added support for saving sessions</li>
			<li>2022-12 - Added profile page</li>
		</ul>

		<h2>Coming Soon</h2>
		<ul>
			<li>Add support for deleting profile and data</li>
			<li>Add calendar view of saved sessions</li>
			<li>Add support to edit activities and routines and re-order activities within a routine</li>
			<li>Add support for pausing and stopping running routines</li>
			<li>Upgrade .NET to 7 and add AOT Lambda compilation</li>
		</ul>

		<h2>Support</h2>
		<p>Questions, comments, or ideas? I'd love to know what you think, please just send me an email to <a href="mailto:andy.mehalick@outlook.com">andy.mehalick@outlook.com</a>.</p>
		<p>If you have any technical issues or feature ideas please feel free to visit <a href="https://github.com/mehalick/banana-tracks/issues">https://github.com/mehalick/banana-tracks/issues</a>.</p>

		<h2>About</h2>
		<p>BananaTracks was designed and developed by me, <a href="https://andy.mehalick.com">Andy Mehalick</a>. I wanted a replacement for a few practice tracking apps that have too many ads, a paid subscription model, or not quite the right features and customization options.</p>
		<p>BananaTracks is completely free-to-use and open-source; it doesn't track, collect, share, or resell any personal information.</p>

	</Authorized>
</AuthorizeView>

<div class="text-center mt-5">
	<a href="https://github.com/mehalick/banana-tracks"><i class="fa-brands fa-github fa-lg me-1"></i>@_version</a>
</div>