@page "/"
@inherits AppComponentBase

<Header Title="Home"></Header>

<AuthorizeView>
	<NotAuthorized>
		<div class="d-grid d-sm-block text-center mb-3">
			<a href="authentication/login" class="btn btn-primary">Log In or Sign Up</a>
		</div>
	</NotAuthorized>
	<Authorized>
		<Loading IsLoading="_recentRunRoutines is null">
			@if (_recentRunRoutines?.Any() == false)
			{
				<div class="alert alert-info mb-4">
					If you're new here, get started by adding activities and then creating a routine!
				</div>

				<div class="hstack gap-3 justify-content-center mb-4">
					<a class="btn btn-secondary" href="/activities/add">Add Activities</a>
					<a class="btn btn-secondary" href="/routines/create">Create a Routine</a>
				</div>
			}
			else
			{
				<div class="alert alert-info mb-4">
					Welcome back, ready to practice?
				</div>

				<div class="hstack gap-3 justify-content-center mb-4">
					@foreach (var routine in _recentRunRoutines!)
					{
						<a class="btn btn-secondary" href="/routines/@routine.RoutineId/start">
							<i class="fa-solid fa-play fa-lg me-1"></i>
							@routine.Name
						</a>
					}
				</div>
			}
		</Loading>

		<p>BananaTracks was built by me, <a href="https://andy.mehalick.com">Andy Mehalick</a>, as a replacement for a few practice tracking apps that have too many ads, a paid subscription model, or missing features.</p>
		<p>BananaTracks is free-to-use and open-source; there's no ads, tracking, cookies, or spam.</p>

		<h2>Support</h2>
		<p>Questions, comments, or issues? Create an issue at <a href="https://github.com/mehalick/banana-tracks/issues">https://github.com/mehalick/banana-tracks/issues</a>.</p>

	</Authorized>
</AuthorizeView>

<div class="text-center mt-5">
	<a href="https://github.com/mehalick/banana-tracks/commit/@_version"><i class="fa-brands fa-github fa-lg me-1"></i>@(_version[..8])</a>
</div>
