@page "/"
@inherits AppComponentBase

<PageTitle>BananaTracks</PageTitle>

<h1>Hi!</h1>

<p><a href="https://github.com/mehalick/banana-tracks">View on Github<i class="fa-brands fa-github fa-xl ms-2"></i></a></p>

<p>&nbsp;</p>

<p class="text-center">Version: @_gitHash</p>