@page "/"

<PageTitle>BananaTracks</PageTitle>

<h1>Hello, world!</h1>

<p><i class="fa-solid fa-circle-notch fa-spin fa-lg"></i> Fetching profile...</p>
<p><i class="fa-solid fa-user fa-beat-fade fa-lg" style="--fa-beat-fade-opacity: 0.1; --fa-beat-fade-scale: 1.25;"></i> Fetching profile...</p>
