@page "/routines/list"
@inherits AppComponentBase

<Page Title="Routines" IsLoading="_response is null">

	<ul class="link-list">
		<li><a class="btn btn-secondary" href="/routines/add">Create Routine</a></li>
	</ul>

	@foreach (var routine in _response!.Routines)
	{
		<div class="card">
			<div class="card-body">
				<a class="no-underline" href="/routines/@routine.RoutineId/start" title="Start routine">
					<i class="fa-solid fa-play fa-xl me-1"></i>
					@routine.Name
				</a>
				@if (!routine.IsSelected)
				{
					<a href="javascript:void(0);" @onclick="() => SelectRoutine(routine, true)" class="float-end" title="Show routine details">
						<i class="fa-solid fa-ellipsis"></i>
					</a>
				}
				else
				{
					<a href="javascript:void(0);" @onclick="() => SelectRoutine(routine, false)" class="float-end" title="Hide routine details">
						<i class="fa-solid fa-chevron-down"></i>
					</a>
				}
			</div>
			@if (routine.IsSelected)
			{
				<div class="card-footer d-flex justify-content-between">
					<small class="text-truncate">@routine.ActivitiesList</small>
					<div class="hstack gap-3 float-end">
						<a href="/routines/@routine.RoutineId/start" class="btn btn-secondary" title="Start">
							<i class="fa-solid fa-play fa-lg"></i>
						</a>
						<a href="/routines/@routine.RoutineId/update" class="btn btn-secondary" title="Update">
							<i class="fa-solid fa-square-pen fa-lg"></i>
						</a>
					</div>
				</div>
			}
		</div>
	}

</Page>
