@page "/routines/list"
@inherits AppComponentBase

<PageTitle>Routines</PageTitle>

<h1>Routines</h1>

@if (_response is null)
{
	<p><em>Loading...</em></p>
}
else
{
	<p><a href="/routines/add">Add Routine</a></p>

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Activities</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var routine in _response.Routines)
			{
				<tr>
					<td>@routine.Name</td>
					<td>
						<ul>
							@foreach (var i in routine.Activities)
							{
								<li>@i.Name</li>
							}
						</ul>
					</td>
					<td><a href="/routines/@routine.RoutineId/run">Run</a></td>
				</tr>
			}
		</tbody>
	</table>
}
