@page "/activities/list"
@inherits AppComponentBase

<Header Title="Activities"></Header>

<Page IsLoading="_response is null">

	<ul class="link-list">
		<li><a class="btn btn-secondary" href="/activities/add">Add Activity</a></li>
	</ul>

	@foreach (var activity in _response!.Activities)
	{
		<div class="card">
			<div class="card-body">
				@activity.Name
				@if (!activity.IsSelected)
				{
					<a href="javascript:void(0);" @onclick="() => SelectActivity(activity, true)" class="float-end" title="Show activity details">
						<i class="fa-solid fa-ellipsis"></i>
					</a>
				}
				else
				{
					<a href="javascript:void(0);" @onclick="() => SelectActivity(activity, false)" class="float-end" title="Hide activity details">
						<i class="fa-solid fa-chevron-down"></i>
					</a>
				}
			</div>
			@if (activity.IsSelected)
			{
				<div class="card-footer">
					<div class="hstack gap-3 float-end">
						<a href="/activities/@activity.ActivityId/update" class="btn btn-secondary" title="Update">
							<i class="fa-solid fa-square-pen fa-lg"></i>
						</a>
					</div>
				</div>
			}
		</div>
	}

</Page>
