@page "/routines/list"
@inherits AppComponentBase

<Page Title="Routines" IsLoading="_response is null">

	<ul class="link-list">
		<li><a href="/routines/create">Create Routine</a></li>
	</ul>

	@foreach (var routine in _response!.Routines)
	{
		<div class="card">
			<div class="card-body">
				<a class="no-underline" href="/routines/@routine.RoutineId/start" title="start routine">
					<i class="fa-solid fa-play fa-xl me-1"></i>
					@routine.Name
				</a>
				@if (!routine.IsSelected)
				{
					<a href="javascript:void(0);" @onclick="() => SelectRoutine(routine, true)" class="float-end" title="Show routine details">
						<i class="fa-solid fa-chevron-right"></i>
					</a>
				}
				else
				{
					<a href="javascript:void(0);" @onclick="() => SelectRoutine(routine, false)" class="float-end" title="Hide routine details">
						<i class="fa-solid fa-chevron-down"></i>
					</a>
				}
			</div>
			@if (routine.IsSelected)
			{
				<div class="card-footer d-flex justify-content-between">
					<small class="text-truncate">@routine.ActivitiesList</small>
					<a href="/routines/@routine.RoutineId/delete" title="Delete routine"><i class="fa-solid fa-trash-xmark fa-fw"></i></a>
				</div>
			}
		</div>
	}

</Page>
