@page "/activities/list"
@inherits AppComponentBase

<Header Title="Activities"></Header>

<Page IsLoading="_response is null">

	<ul class="link-list">
		<li><a href="/activities/add">Add Activity</a></li>
	</ul>

	@foreach (var activity in _response!.Activities)
	{
		<div class="card">
			<div class="card-body">
				@activity.Name
				@if (!activity.IsSelected)
				{
					<a href="javascript:void(0);" @onclick="() => SelectActivity(activity, true)" class="float-end" title="Show activity details">
						<i class="fa-solid fa-chevron-right"></i>
					</a>
				}
				else
				{
					<a href="javascript:void(0);" @onclick="() => SelectActivity(activity, false)" class="float-end" title="Hide activity details">
						<i class="fa-solid fa-chevron-down"></i>
					</a>
				}
			</div>
			@if (activity.IsSelected)
			{
				<div class="card-footer">
					<LinkList>
						<a href="/activities/@activity.ActivityId/update" title="Edit"><i class="fa-solid fa-pen-to-square fa-fw"></i></a>
						<a href="/activities/@activity.ActivityId/delete" title="Delete"><i class="fa-solid fa-trash-xmark fa-fw"></i></a>
					</LinkList>
					
				</div>
			}
		</div>
	}

</Page>
