@page "/activities/list"
@inherits AppComponentBase

<PageTitle>Activities</PageTitle>

<h1>Activities</h1>

<Loading IsLoading="_response is null">

	<ul class="link-list">
		<lil><a href="/activities/add">Add Activity</a></lil>
	</ul>

	@foreach (var activity in _response!.Activities)
	{
		<div class="card">
			<div class="card-body">
				@activity.Name
				<a class="float-end" href="/activities/@activity.ActivityId/delete" title="delete activity">
					<i class="fa-solid fa-delete-right"></i>
				</a>
			</div>
		</div>
	}

</Loading>
