@page "/routines/list"
@inherits AppComponentBase

<PageTitle>Routines</PageTitle>

<h1>Routines</h1>

<Loading IsLoading="_response is null">

	<ul class="link-list">
		<li><a href="/routines/add">Add Routine</a></li>
	</ul>

	@foreach (var routine in _response!.Routines)
	{
		<div class="card">
			<div class="card-body">
				<a class="no-underline" href="/routines/@routine.RoutineId/start" title="start routine">
					<i class="fa-solid fa-play fa-xl me-1"></i>
					@routine.Name
				</a>
				<a class="float-end" href="/routines/@routine.RoutineId/delete" title="delete routine">
					<i class="fa-solid fa-delete-right"></i>
				</a>
			</div>
		</div>

	}

</Loading>
