@page "/activities/list"
@inherits AppComponentBase

<PageTitle>Activities</PageTitle>

<h1>Activities</h1>

<Loading IsLoading="_response is null">

	<ul class="link-list">
		<lil><a href="/activities/add">Add Activity</a></lil>
	</ul>

	@foreach (var activity in _response!.Activities)
	{
		<div class="card">
			<div class="card-body">
				@activity.Name
				@if (!activity.IsSelected)
				{
					<a href="javascript: void(0);" @onclick="() => SelectActivity(activity, true)" class="float-end" title="Show activity details">
						<i class="fa-solid fa-chevron-up"></i>
					</a>
				}
				else
				{
					<a href="javascript: void(0);" @onclick="() => SelectActivity(activity, false)" class="float-end" title="Hide activity details">
						<i class="fa-solid fa-chevron-down"></i>
					</a>
				}
			</div>
			@if (activity.IsSelected)
			{
				<div class="card-footer">
					<ul class="link-list mb-0">
						<li>
							<a href="/activities/@activity.ActivityId/delete" title="Delete activity">
								Delete
							</a>
						</li>
					</ul>
					
				</div>
			}
		</div>
	}

</Loading>
