@page "/profile"
@inherits AppComponentBase

<Header Title="Profile"></Header>

<Page IsLoading="_claims is null">
	<table class="table">
		<tbody>
		<tr>
			<th>ID</th>
			<td>@_id</td>
		</tr>
		<tr>
			<th>Name</th>
			<td>@_name</td>
		</tr>
		</tbody>
	</table>
	<p class="text-muted">
		Your user ID, name, and email address are provided by Auth0 and can't be managed within BananaTracks. If you need these updated please send me an email at the address below.
	</p>
	<div class="hstack gap-3 mb-3">
		<button type="button" @onclick="LogOut" class="btn btn-primary">Log out</button>
		<a href="/profile/delete" class="btn btn-danger">Delete Profile and Data &rsaquo;</a>
	</div>
</Page>
