@page "/routines/{RoutineId}/run"
@inherits AppComponentBase

<PageTitle>Run Routine</PageTitle>

<h1>Run Routine</h1>

<Loading IsLoading="_routine is null">
	<table class="table">
		<thead>
			<tr>
				<th>*</th>
				<th>Activity</th>
				<th>Duration</th>
				<th>Break</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var activity in _activities)
			{
				<tr class="@(activity.IsCurrent ? "table-success" : "")">
					<td>
						@if (activity.IsCurrent)
						{
							<strong>*</strong>
						}
					</td>
					<td>@activity.Activity.Name</td>
					<td>@DisplayTime(activity.DurationRemaining)</td>
					<td>@DisplayTime(activity.BreakRemaining)</td>
				</tr>
			}
		</tbody>
	</table>
	@switch (_runStatus)
	{
		case RunStatus.IsPending:
		default:
			<p><button type="button" @onclick="StartTimer" class="btn btn-primary">Start</button></p>
			break;
		case RunStatus.IsRunning:
			break;
		case RunStatus.IsDone:
			<p>DONE</p>
			break;
	}
</Loading>

<audio id="dingAudio" src="https://cdn.bananatracks.com/service-bell-ring.mp3"></audio>
