@inject NavigationManager Navigation

<AuthorizeView>
	<Authorized>
		<span class="d-none d-sm-inline">
			Hello, @context.User.Identity?.Name!
		</span>
		<a href="#" @onclick="BeginSignOut">Log out</a>
	</Authorized>
	<NotAuthorized>
		<a href="authentication/login">Log in</a>
	</NotAuthorized>
</AuthorizeView>

@code {
	private void BeginSignOut(MouseEventArgs args)
	{
		Navigation.NavigateToLogout("authentication/logout");
	}
}