@inject NavigationManager Navigation

<AuthorizeView>
	<Authorized>
		<span class="d-none d-sm-inline">
			Hey, @context.User.Identity?.Name!
		</span>
	</Authorized>
	<NotAuthorized>
		<a href="authentication/login">Log in</a>
	</NotAuthorized>
</AuthorizeView>
