@inherits LayoutComponentBase

<header>
	<div class="container">
		<div>
			<img src="https://cdn.bananatracks.com/icons/bananatracks.svg" alt="BananaTracks" width="24" height="24" class="me-2" />
			BananaTracks
		</div>
		<div><LoginDisplay /></div>
	</div>
</header>
<main>
	<div class="container">
		@Body
	</div>
</main>
<footer>
	<nav class="container">
		<NavLink href="" Match="NavLinkMatch.All">
			<i class="fal fa-home-alt fa-fw fa-lg"></i>
			<small>Home</small>
		</NavLink>
		<AuthorizeView>
			<Authorized>
				<NavLink href="/routines/list">
					<i class="fal fa-grid-dividers fa-fw fa-lg"></i>
					<small>Routines</small>
				</NavLink>
				<NavLink href="/activities/list">
					<i class="fal fa-grid-2 fa-fw fa-lg"></i>
					<small>Activities</small>
				</NavLink>
			</Authorized>
			<Authorizing>
				<a class="opacity-25">
					<i class="fal fa-grid-dividers fa-fw fa-lg"></i>
					<small>Routines</small>
				</a>
				<a class="opacity-25">
					<i class="fal fa-grid-2 fa-fw fa-lg"></i>
					<small>Activities</small>
				</a>
			</Authorizing>
		</AuthorizeView>
	</nav>
</footer>
