@inherits LayoutComponentBase

<header>
	<div class="container">
		<div>BananaTracks</div>
		<div><LoginDisplay /></div>
	</div>
</header>
<main>
	<div class="container">
		@Body
	</div>
</main>
<footer>
	<nav class="container">
		<NavLink href="" Match="NavLinkMatch.All">
			<i class="fal fa-home-alt fa-fw fa-lg"></i>
			<small>Home</small>
		</NavLink>
		<AuthorizeView>
			<Authorized>
				<NavLink href="activities">
					<i class="fal fa-grid-2 fa-fw fa-lg"></i>
					<small>Activities</small>
				</NavLink>
				<NavLink href="routines">
					<i class="fal fa-grid-dividers fa-fw fa-lg"></i>
					<small>Routines</small>
				</NavLink>
			</Authorized>
			<Authorizing>
				<a class="opacity-25">
					<i class="fal fa-grid-2 fa-fw fa-lg"></i>
					<small>Activities</small>
				</a>
				<a class="opacity-25">
					<i class="fal fa-grid-dividers fa-fw fa-lg"></i>
					<small>Routines</small>
				</a>
			</Authorizing>
		</AuthorizeView>
	</nav>
</footer>
