@if (IsLoading)
{
	<div class="loading d-flex align-items-center">
		@*<i class="fa-solid fa-circle-notch fa-spin fa-2x me-2"></i>*@
		<i class="fa-regular fa-atom-simple fa-spin fa-2x me-2"></i>
		Fetching bananas...
	</div>
}
else
{
	@ChildContent
}
